.card_array>.page_of_items_contents>.card.mech-arena-card {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark_shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}


.card.mech-arena-card {
  font-family: "Orbitron", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.mech-arena-card {
  position: relative;
  border: 4px solid #000;

  div.pseudo_image {
    height: 25px;
    width: 25px;
    position: relative;

    .count {
      position: absolute;
      bottom: -12%;
      right: -12%;
    }
  }

  div.pseudo_image.ammo,
  div.pseudo_image.energy {
    width: 15px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  div.pseudo_image.die-up,
  div.pseudo_image.die-down {
    width: 100%;
  }

  div.pseudo_image.initiative {
    position: absolute;
    width: 50px;
    height: 50px;

    .number {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 50%;
    }
  }

  .body-part-wrapper {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .body-part {
      width: 35px;
      height: 35px;
      position: relative;

      .side {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        font-size: 12px;
        width: 100%;
        height: 100%;
        text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
      }
    }
  }

  .front-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    .title {
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 5px;
      position: relative;

      .cost-wrapper {
        display: flex;
        width: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 4px solid #000;
        border-radius: 4px;
        bottom: -30px;
        right: -20px;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .details-section {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

      .join {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .movement {
      background-color: rgb(147, 229, 147);
    }

    .outgoing-melee-attack-mods {
      background-color: rgb(232, 154, 154);
    }

    .outgoing-ranged-attack-mods {
      background-color: rgb(231, 191, 132);
    }

    .incoming-melee-attack-mods {
      background-color: rgb(175, 170, 233);
    }

    .incoming-ranged-attack-mods {
      background-color: rgb(210, 151, 225);
    }
  }


  .discard-effect-wrapper {
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .expendable-wrapper {
    position: absolute;
    bottom: 15px;
    left: 10px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

.card.front.mech-arena-card.system {
  border-color: #dd1;
}

.card.front.mech-arena-card.attack {
  border-color: #922;
}

.card.front.mech-arena-card.movement {
  border-color: #292;
}

.card.back.mech-arena-card {
  position: relative;

  .back-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;

    .back-text {
      font-size: 36px;
    }

    .pseudo_image {
      height: 150px;
      width: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.card.back.mech-arena-card.deck-0 {
  background-color: #ffeedd;
}

.card.back.mech-arena-card.deck-1 {
  background-color: #eeddff;
}